@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

/* Variables */

:root {
  --primary: #4a3780;
  --dark: #1b1b1d;
  --border: #e0e0e0;
  --light: #dbecf6;
  --white: #ffffff;
  --black: #000000;
  --grey: #e5e9ed;
  --layout-bg: #f1f5f9;
  --red: #a40000;
}

/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Itim", cursive;
  font-size: 1rem;
  line-height: 1.6;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.2;
  color: inherit;
}

p {
  font-family: inherit;
  color: inherit;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

button {
  font-family: inherit;
  outline: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

input {
  font-family: inherit;
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

#app {
  position: relative;
  overflow: hidden;
}

.hidden {
  display: none;
}

/* Loading */

@keyframes loading {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

#loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  background-color: #00000099;
  z-index: 1000;

  .loading__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .loading__icon--circle {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: var(--primary);
      animation: loading 1.5s infinite;

      &:first-child {
        animation-delay: 0.1s;
      }

      &:nth-child(2) {
        animation-delay: 0.2s;
      }

      &:last-child {
        animation-delay: 0.3s;
      }
    }
  }
}

/* Not Found */

#notfound__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  color: var(--white);
  min-height: 100vh;
  width: 100%;
  padding: 1rem;
  text-align: center;
  overflow-x: hidden;

  h1 {
    font-size: 3rem;
  }
}

/* Layout */

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .layout__header {
    background-color: var(--primary);
    color: var(--white);
    padding: 1rem;
    text-align: center;
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow: hidden;

    .layout__header--circle {
      position: absolute;
      background: linear-gradient(180deg, var(--light), transparent);
      border-radius: 50%;
      opacity: 0.2;
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        background-color: var(--primary);
        border-radius: 50%;
      }

      &.layout__header--circle--first {
        top: -50px;
        right: -80px;
        width: 150px;
        height: 150px;

        div {
          width: 75px;
          height: 75px;
        }
      }

      &.layout__header--circle--second {
        bottom: -180px;
        left: -160px;
        width: 300px;
        height: 300px;

        div {
          width: 200px;
          height: 200px;
        }
      }
    }

    .layout__header--button {
      position: absolute;
      top: 1rem;
      left: 1rem;
      padding: 0.5rem;
      border-radius: 50%;
    }
  }

  .layout__body {
    background-color: var(--layout-bg);
    flex-grow: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    position: relative;

    .layout__body--footer {
      .layout__footer--button {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 1rem;
        border-radius: 25px;
        font-size: 1rem;
        font-weight: 700;
        transition: all 0.3s ease;

        &.layout__footer--button--primary {
          background-color: var(--primary);
          color: var(--white);
        }

        &.layout__footer--button--secondary {
          background-color: var(--light);
          color: var(--dark);
        }

        &:hover {
          transform: translateY(2px);
        }
      }
    }
  }
}

/* Tasks */

#pending__tasks {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--grey);
  gap: 1px;
  position: relative;
  margin-top: -3rem;
}

.task__completed--section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;

  .dropdown__btn {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color: var(--layout-bg);
    z-index: 99;

    img {
      width: 30px;
      height: 30px;
      transform: rotate(-90deg);
      transition: all 0.3s ease;
    }

    &.show {
      img {
        transform: rotate(0deg);
      }
    }
  }

  #completed__tasks {
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--grey);
    gap: 1px;
    transform: translateY(-150%);
    transition: transform 0.5s ease;

    &.show {
      transform: translateY(0);
    }
  }
}

.task {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  background-color: var(--white);
  padding: 1rem;

  &.completed {
    .task__group--color {
      opacity: 0.5;
    }
    .task__info {
      text-decoration: line-through;
      color: var(--grey);
    }
    .task__completed--btn {
      background-color: var(--primary);
    }
  }

  .task__group--color {
    display: flex;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    background-color: var(--primary);
  }

  .task__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-x: hidden;

    .task__title {
      display: block;
      font-size: 1.25rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .task__completed--btn {
    background-color: var(--white);
    padding: 2px;
    border-radius: 5px;
    color: var(--white);
    border: solid 1px var(--primary);

    img {
      width: 20px;
      height: 20px;
    }
  }
}

/* Welcome View */

#welcome__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  color: var(--white);
  min-height: 100vh;
  width: 100%;
  padding: 1rem;
  text-align: center;
  overflow-x: hidden;
}

.welcome__title {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 3rem;
  }

  img {
    min-width: 200;
    max-width: 300px;
  }
}

.welcome__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  flex-basis: 1;
  gap: 1rem;

  .welcome__body--text {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h3 {
      font-size: 1.75rem;
    }

    p {
      font-size: 1.25rem;
    }
  }

  .welcome__body--cta {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    z-index: 1;

    button {
      padding: 1rem;
      border-radius: 25px;
      font-size: 1rem;
      font-weight: 700;
      transition: all 0.3s ease;

      &:hover {
        transform: translateY(2px);
      }
    }

    button:first-child {
      background-color: var(--white);
      color: var(--dark);
    }

    button:last-child {
      background-color: var(--light);
      color: var(--dark);
    }
  }
}

.welcome__circle {
  position: absolute;
  background: linear-gradient(180deg, var(--light), transparent);
  border-radius: 50%;
  opacity: 0.2;

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary);
    border-radius: 50%;
  }

  &.first__circle {
    top: -25px;
    right: -80px;
    width: 150px;
    height: 150px;

    div {
      width: 75px;
      height: 75px;
    }
  }

  &.second__circle {
    bottom: -150px;
    left: -150px;
    width: 300px;
    height: 300px;

    div {
      width: 200px;
      height: 200px;
    }
  }
}

/* Error form message */

.error__form--message {
  font-size: 0.75rem;
  color: var(--red);
}

/* Login View */

#login__section {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--grey);
  border-radius: 20px;
  margin-top: -75px;
  box-shadow: 0 0 10px -5px var(--dark);

  .login__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    .login__form--group {
      display: flex;
      flex-direction: column;

      label {
        font-size: 1rem;
        font-weight: 500;
      }

      input {
        padding: 0.5rem;
        border: 1px solid var(--border);
        border-radius: 10px;
        font-size: 1rem;
      }
    }
  }
}

/* Signup Section */

#signup__section {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--grey);
  border-radius: 20px;
  margin-top: -75px;
  box-shadow: 0 0 10px -5px var(--dark);

  .signup__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    .signup__form--avatar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .avatar {
        background-color: var(--layout-bg);
        width: fit-content;
        border-radius: 50%;
        padding: 2rem;
        overflow: hidden;

        &[selected="false"] img {
          width: 50px;
          height: 50px;
        }

        &[selected="true"] {
          padding: 0;

          img {
            width: 100%;
          }
        }
      }

      label {
        font-size: 1rem;
        font-weight: 500;
      }
    }

    .signup__form--group {
      display: flex;
      flex-direction: column;

      label {
        font-size: 1rem;
        font-weight: 500;
      }

      input {
        padding: 0.5rem;
        border: 1px solid var(--border);
        border-radius: 10px;
        font-size: 1rem;
        width: 100%;
      }
    }

    select#questions {
      padding: 0.5rem;
      border: 1px solid var(--border);
      background-color: var(--white);
      border-radius: 10px;
      font-size: 1rem;
      outline: none;

      option {
        font-size: 1rem;
      }
    }

    .answer__container {
      display: flex;
      align-items: center;
      width: 100%;
      background-color: var(--primary);
      border-radius: 10px;

      #answer {
        width: 100%;
        border-radius: 10px 0 0 10px;
      }

      .next__question--btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        color: var(--white);
        cursor: pointer;
        transition: all 0.3s ease;
        width: fit-content;
        padding: 0.5rem;

        &:hover {
          opacity: 0.8;
        }

        &[disabled] {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }
    }
  }

  .avatar__dialog {
    width: 90%;
    max-width: 400px;
    height: 90%;
    max-height: 600px;
    margin: auto;
    background-color: var(--white);
    border-radius: 20px;
    border: none;
    padding: 1rem;
    outline: none;
    gap: 1rem;
    overflow: scroll;

    &[open] {
      display: flex;
      flex-direction: column;
    }

    &::backdrop {
      background-color: rgba(0, 0, 0, 0.5);
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;
    }

    .avatar__dialog--close {
      background: transparent;
      display: flex;
      width: fit-content;

      img {
        width: 30px;
        height: 30px;
      }
    }

    .avatar__dialog--content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
      gap: 1rem;

      img {
        cursor: pointer;
      }
    }
  }
}

/* My Day */

#myday__section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Task Dialog */

#taskDialog {
  background-color: var(--layout-bg);
  min-width: 100%;
  min-height: 100%;
  border: none;
  margin: 0;

  .frame__header {
    background-color: var(--primary);
    color: var(--white);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
    overflow: hidden;

    .close__frame--btn {
      background-color: var(--white);
      border-radius: 50%;
      padding: 10px;
      position: absolute;
      left: 1rem;
      z-index: 1;
    }

    h2 {
      font-size: 2rem;
      font-weight: 500;
    }

    .frame__header--circle {
      position: absolute;
      background: linear-gradient(180deg, var(--light), transparent);
      border-radius: 50%;
      opacity: 0.2;
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        background-color: var(--primary);
        border-radius: 50%;
      }

      &.frame__header--circle--first {
        top: -50px;
        right: -80px;
        width: 150px;
        height: 150px;

        div {
          width: 75px;
          height: 75px;
        }
      }

      &.frame__header--circle--second {
        bottom: -180px;
        left: -160px;
        width: 300px;
        height: 300px;

        div {
          width: 200px;
          height: 200px;
        }
      }
    }
  }

  .frame__form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 1;

    .frame__task {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      label {
        font-size: 1.2rem;
        font-weight: 500;
      }

      .task__input {
        display: flex;
        gap: 0.5rem;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        background-color: var(--white);
        padding: 1rem;
        border: 1px solid var(--border);
        border-radius: 10px;

        input {
          border: none;
          outline: none;
          background-color: transparent;
          font-size: 1rem;
          width: 100%;
        }
      }

      &.completed {
        .task__group--color {
          opacity: 0.5;
        }
        #task__title {
          text-decoration: line-through;
          color: var(--grey);
        }
        .task--frame__completed--btn {
          background-color: var(--primary);
        }
      }

      .task__group--color {
        display: flex;
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;
        border-radius: 50%;
        background-color: var(--primary);
      }

      .task__info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-x: hidden;

        .task__title {
          display: block;
          font-size: 1.25rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .task--frame__completed--btn {
        background-color: var(--white);
        padding: 2px;
        border-radius: 5px;
        color: var(--white);
        border: solid 1px var(--primary);

        img {
          width: 20px;
          height: 20px;
        }
      }
    }

    .frame__subtasks {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .subtasks__list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;

        .subtask {
          display: flex;
          gap: 0.5rem;
          justify-content: flex-start;
          align-items: center;
          width: 100%;

          .subtask__completed--btn {
            background-color: var(--white);
            padding: 2px;
            border-radius: 5px;
            color: var(--white);
            border: solid 1px var(--primary);

            img {
              width: 10px;
              height: 10px;
            }
          }

          .subtask__info {
            background: transparent;
            padding: 0.3rem;
            border-bottom: 1px solid var(--border);
            width: 100%;
          }

          &.completed {
            .subtask__info {
              text-decoration: line-through;
              color: var(--grey);
            }
            .subtask__completed--btn {
              background-color: var(--primary);
            }
          }
        }
      }

      #subtask__new--btn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.25rem;
        width: 100%;
        background: transparent;
        font-size: 1rem;
        font-weight: 700;
        color: var(--primary);
        transition: all 0.3s ease;

        img {
          width: 25px;
          height: 25px;
        }

        &:hover {
          transform: translateY(2px);
        }
      }
    }

    .frame__groups {
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      align-items: center;

      label {
        font-size: 1.2rem;
        font-weight: 500;
      }

      #task__group {
        flex-grow: 1;
        border: 1px solid var(--border);
        outline: none;
        background-color: var(--white);
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 10px;
        width: 100%;
      }
    }

    .frame__datetime {
      display: flex;
      gap: 1rem;
      justify-content: space-between;

      .date__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        label {
          font-size: 1.2rem;
          font-weight: 500;
        }

        input {
          padding: 0.5rem;
          border: 1px solid var(--border);
          border-radius: 10px;
          font-size: 1rem;
          width: 100%;
        }
      }

      .time__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        label {
          font-size: 1.2rem;
          font-weight: 500;
        }

        input {
          padding: 0.5rem;
          border: 1px solid var(--border);
          border-radius: 10px;
          font-size: 1rem;
          width: 100%;
        }
      }
    }

    .frame__description {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      label {
        font-size: 1.2rem;
        font-weight: 500;
      }

      #task__description {
        flex-grow: 1;
        border: 1px solid var(--border);
        outline: none;
        background-color: var(--white);
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 10px;
        width: 100%;
        height: 100px;
        resize: none;
      }
    }

    .task__ctas {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      width: 100%;

      button {
        padding: .75rem;
        color: var(--white);
        font-size: 1rem;
        border-radius: 20px;
        font-weight: 700;
        font-family: var(--);
      }

      #save__task {
        background-color: var(--primary);
      }

      #delete__task {
        background-color: var(--red);
      }
    }
  }
}
